# dependencies
node_modules/
jspm_packages/
.pnp/
.yarn/
venv/
.venv/
package-lock.json
yarn.lock
.pnp.*
npm-shrinkwrap.json
bun.lockb

# test
/coverage/
/tests_report/
.pytest_cache/
.coverage
junit.xml

# distribution
build/
.build/
dist/
out/
release/
*.tsbuildinfo
*.egg-info/
*.egg

# misc
__pycache__/
.DS_Store
*.pem
*.log
*.log*
*.deb
.env
*.zip
*.db
*.db-*
*.pyc

# terraform
.terraform/
mocks/terraform/**/terraform.tfstate
mocks/terraform/**/terraform.tfstate.*
mocks/terraform/**/.terraform.tfstate.*
