# npm
node_modules/

# pnpm
yarn.lock
package-lock.json

# test
/coverage/
junit.xml

# typescript
tsconfig.tsbuildinfo

# terraform
.terraform/

# misc
*.log
.DS_Store

# terraform
.terraform/
mocks/terraform/**/terraform.tfstate
mocks/terraform/**/terraform.tfstate.*
mocks/terraform/**/.terraform.tfstate.*
